@import '../utilities/variables';
@import '../utilities/mixins';
@import '../utilities/functions';


//@include for-size(phone-only) {
html {
    font-size: 100%;
}

body {
    font-family: $font-family;
    font-weight: map-get($font-weight, light);

    @include for-size(phone-only) {
        font-size: map-get($font-size-small, 'base'); /* Responsive base font size */
    }
    @include for-size(tablet-portrait) {
        font-size: map-get($font-size-medium, 'base'); /* Responsive base font size */
    }
    @include for-size(tablet-landscape) {
        font-size: map-get($font-size-medium, 'base'); /* Responsive base font size */
    }
    @include for-size(desktop) {
        font-size: map-get($font-size-large, 'base'); /* Responsive base font size */
    }
    @include for-size(desktop-big) {
        font-size: map-get($font-size-large, 'base'); /* Responsive base font size */
    }
}

p {
    font-size: 1.25em;
    font-family: $font-family-p;
}


// * --- Headers ---------- *
h1 {
    @include font-size(h1);
    font-weight: map-get($font-weight, semibold);
}

h2 {
    @include font-size(h2);
    font-weight: map-get($font-weight, medium);
}

h3 {
    @include font-size(h3);
    font-weight: map-get($font-weight, medium);
}

h4 {
    @include font-size(h4);
    font-weight: map-get($font-weight, medium);
}

h5 {
    @include font-size(h5);
    font-weight: map-get($font-weight, medium);
}

h6 {
    @include font-size(h6);
    font-weight: map-get($font-weight, medium);
}

p,
td,
th,
li,
dd {
    font-family: $font-family-p;
    font-weight: map-get($font-weight, light);
    text-align: justify;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.header {
    .title {
        @include font-size(h1);
        font-family: $font-family-title;
        text-decoration: none;
        color: $color-text-inverted;

        @include for-size(phone-only) {
            text-align: left;
        }
        @include for-size(tablet-portrait) {
            text-align: left;
        }
        @include for-size(tablet-landscape) {
            text-align: center;
        }

        &__hairline {
            position: relative;
            font-family: $font-family-title;
            font-weight: 100;
        }
    }

    .tagline {
        margin: 0;
        font-family: $font-family-title;
        text-decoration: none;
        color: $color-text-inverted;

        p {
            @include font-size(p);
            font-style: italic;
            color: $color-text-inverted;
        }

        @include for-size(phone-only) { // stylelint-disable-line
            text-align: left;
        }

        @include for-size(tablet-portrait) {
            text-align: left;
        }

        @include for-size(tablet-landscape) {
            text-align: center;
        }
    }

    .tagline_link { // stylelint-disable-line
        text-decoration: none;
        color: $color-primary-500;
    }

    .link {
        text-decoration: none;
        color: $color-primary-500;

        p {
            @include font-size(p);
            @include for-size(phone-only) {
                text-align: left;
            }
            @include for-size(tablet-portrait) {
                text-align: left;
            }
            @include for-size(tablet-landscape) {
                text-align: center;
            }
        }
    }
}

.subheading {
    font-family: $font-family-subtitle;
    font-weight: map-get($font-weight, medium);

    @include for-size(phone-only) {
        padding-top: map-get($vertical-rhythm, 'small');
        padding-bottom: map-get($vertical-rhythm, 'small');
    }
    @include for-size(tablet-portrait) {
        padding-top: map-get($vertical-rhythm, 'medium');
        padding-bottom: map-get($vertical-rhythm, 'medium');
    }
    @include for-size(tablet-landscape) {
        padding-top: map-get($vertical-rhythm, 'medium');
        padding-bottom: map-get($vertical-rhythm, 'medium');
    }
    @include for-size(desktop) {
        padding-top: map-get($vertical-rhythm, 'large');
        padding-bottom: map-get($vertical-rhythm, 'large');
    }
    @include for-size(desktop-big) {
        padding-top: map-get($vertical-rhythm, 'large');
        padding-bottom: map-get($vertical-rhythm, 'large');
    }
}

.text {
    &__p {
        @include font-size(p);
        font-family: $font-family-p;
        font-weight: map-get($font-weight, light);
        text-align: justify;
        word-wrap: break-word;
        overflow-wrap: break-word;

        @include for-size(phone-only) {
            padding-bottom: map-get($vertical-rhythm, 'small');
        }
        @include for-size(tablet-portrait) {
            padding-bottom: map-get($vertical-rhythm, 'medium');
        }
        @include for-size(tablet-landscape) {
            padding-bottom: map-get($vertical-rhythm, 'medium');
        }
        @include for-size(desktop) {
            padding-bottom: map-get($vertical-rhythm, 'large');
        }
        @include for-size(destop-big) {
            padding-bottom: map-get($vertical-rhythm, 'large');
        }

        &.first {
            @include for-size(phone-only) {
                padding-top: divide(map-get($vertical-rhythm, 'small'));
            }
            @include for-size(tablet-portrait) {
                padding-top: divide(map-get($vertical-rhythm, 'medium'));
            }
            @include for-size(tablet-landscape) {
                padding-top: divide(map-get($vertical-rhythm, 'medium'));
            }
            @include for-size(desktop) {
                padding-top: divide(map-get($vertical-rhythm, 'large'));
            }
            @include for-size(destop-big) {
                padding-top: divide(map-get($vertical-rhythm, 'large'));
            }
        }

        &.last {
            @include for-size(phone-only) {
                padding-bottom: multiply(map-get($vertical-rhythm, 'small'));
            }
            @include for-size(tablet-portrait) {
                padding-bottom: multiply(map-get($vertical-rhythm, 'medium'));
            }
            @include for-size(tablet-landscape) {
                padding-bottom: multiply(map-get($vertical-rhythm, 'medium'));
            }
            @include for-size(desktop) {
                padding-bottom: multiply(map-get($vertical-rhythm, 'large'));
            }
            @include for-size(destop-big) {
                padding-bottom: multiply(map-get($vertical-rhythm, 'large'));
            }
        }
    }

    &__h3 {
        @include font-size(h3);
        font-family: $font-family-title;
        font-weight: map-get($font-weight, large);

        @include for-size(phone-only) {
            padding-bottom: map-get($vertical-rhythm, small);
        }
        @include for-size(tablet-portrait) {
            padding-bottom: map-get($vertical-rhythm, 'small');
        }
        @include for-size(tablet-landscape) {
            padding-bottom: map-get($vertical-rhythm, 'medium');
        }
        @include for-size(desktop) {
            padding-bottom: map-get($vertical-rhythm, 'large');
        }
        @include for-size(destop-big) {
            padding-bottom: map-get($vertical-rhythm, 'large'); // stylelint-disable-line
        }
    }
}
