@import '../utilities/variables';
@import '../utilities/mixins';
@import '../utilities/functions';


.main {
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: $color-bg-light;

    @include for-size(phone-only) {
        padding: 0 map-get($vertical-rhythm, small);
    }

    @include for-size(tablet-portrait) {
        padding: divide(map-get($vertical-rhythm, medium)) map-get($vertical-rhythm, medium);
    }

    @include for-size(tablet-landscape) {
        padding: map-get($vertical-rhythm, medium) multiply(map-get($vertical-rhythm, medium));
    }

    @include for-size(desktop) {
        padding: map-get($vertical-rhythm, medium) multiply(map-get($vertical-rhythm, medium), 4);
    }

    @include for-size(desktop-big) {
        padding: map-get($vertical-rhythm, large) multiply(map-get($vertical-rhythm, large), 16);
    }
}


.sidebar {
    //    DO A SIDEBAR
    display: inline-block;
    border-radius: map-get($border-radius, small);
    width: 30%;
    height: 100%;
    background-color: $color-quaternary-300;

    &.left {
        float: left;
    }

    &.right {
        float: right;
    }

    &.flex-row {
        flex-direction: row;
        display: flex;
    }

    &.flex-column {
        flex-direction: column;
        display: flex;
    }
}


.container {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: auto;

    &__img {
        display: block;
        width: 100%;
        height: auto;

        &--cover {
            width: 100%;
            height: 10rem;
            padding: 0;
            object-fit: cover;
        }
    }
}
