@import '../utilities/variables';
@import '../utilities/mixins';
@import '../utilities/functions';


// BODY CONTAINER
.container {
    display: grid;
    box-sizing: border-box;
    width: 100%;
    height: auto;

    // MEDIA QUERIES
    @include for-size(phone-only) {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
            'header'
            'main'
            'footer'
        ;
    }
    @include for-size(tablet-portrait) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            'header header header'
            'sidebar-left main main'
            'sidebar-left main main'
            'sidebar-left main main'
            'footer footer footer'
        ;
    }
    @include for-size(tablet-landscape) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            'header header header'
            'sidebar-left main main'
            'sidebar-left main main'
            'sidebar-left main main'
            'footer footer footer'
        ;
    }

    @include for-size(desktop) {
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas:
            'header header header header header'
            'sidebar-left main main main sidebar-right'
            'sidebar-left main main main sidebar-right'
            'sidebar-left main main main sidebar-right'
            'footer footer footer footer footer'
        ;
    }

    @include for-size(desktop-big) {
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas:
            'header header header header header'
            'sidebar-left main main main sidebar-right'
            'sidebar-left main main main sidebar-right'
            'sidebar-left main main main sidebar-right'
            'footer footer footer footer footer'
        ;
    }

    // MAIN CONTENT CONTAINER
    &__main {
        display: inline-block;
        margin: 0;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        background-color: $color-bg-light;
        grid-area: main;

        // MEDIA QUERIES
        @include for-size(phone-only) {
            padding: 0 map-get($vertical-rhythm, small);
        }
        @include for-size(tablet-portrait) {
            padding: 0 map-get($vertical-rhythm, medium);
        }
        @include for-size(tablet-landscape) {
            padding: 0 multiply(map-get($vertical-rhythm, medium));
        }
        @include for-size(desktop) {
            padding: 0 multiply(map-get($vertical-rhythm, large), 4);
        }
        //@include for-size(desktop-big) {
        //    padding: 0 multiply(map-get($vertical-rhythm, large), 16);
        //}
    }

    // SIDEBAR CONTAINER
    &__sidebar {
        width: 100%;
        height: 100%;

        &--technav {
            justify-content: space-between;
            flex-flow: wrap column;
            gap: divide(map-get($vertical-rhythm, small));
            display: flex;
            padding: map-get($vertical-rhythm, small) divide(map-get($vertical-rhythm, small));
        }

        &--link {
            display: block;
            margin: auto 0;
            border-radius: map-get($border-radius, s);
            padding: divide(map-get($vertical-rhythm, small));
            background-color: #4a154b;
            text-decoration: none;
            color: white;
        }

        // SIDES - Left/Right
        &.left {
            grid-area: sidebar-left;

            // MEDIA QUERIES
            @include for-size(phone-only) {
                display: none;
            }
            @include for-size(tablet-portrait) {
                display: inline-block;
            }
            @include for-size(tablet-landscape) {
                display: inline-block;
            }
            @include for-size(desktop) {
                display: inline-block;
            }
            @include for-size(desktop-big) {
                display: inline-block;
            }
        }

        &.right {
            grid-area: sidebar-right;

            // MEDIA QUERIES
            @include for-size(phone-only) {
                display: none;
            }
            @include for-size(tablet-portrait) {
                display: none;
            }
            @include for-size(tablet-landscape) {
                display: none;
            }
            @include for-size(desktop) {
                display: inline-block;
            }
            @include for-size(desktop-big) {
                display: inline-block;
            }
        }

        // FLEXBOX STUFF ADDON CLASS
        &.flex-row {
            flex-direction: row;
            display: flex;
        }
        &.flex-column {
            flex-direction: column;
            display: flex;
        }
    }

    // IMAGE CONTAINER
    &__img {
        display: block;
        width: 100%;
        height: auto;

        // COVER IMAGE
        &--cover {
            width: 100%;
            height: 10rem;
            padding: 0;
            object-fit: cover;
        }

        //&--logo {
        //
        //}
    }
}


.test {
    // MEDIA QUERIES
    @include for-size(phone-only) {
        display: none;
        opacity: 0;
    }
    @include for-size(tablet-portrait) {
        display: inline-block;
        grid-area: sidebar-left;
    }
}

// MAIN CONTENT CONTAINER FOR TEMPLATE 'technologies.twig'
.landingpage {
    gap: 1rem 1rem;
    display: grid;
    grid-area: main; // This element is part of the main-grid.

    // MEDIA QUERIES
    @include for-size(phone-only) {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
            'header'
            'main'
            'footer';
    }
    //@include for-size(tablet-portrait) {
    //    grid-template-columns: repeat(2, 1fr);
    //    grid-template-areas:
    //        'header'
    //        'main'
    //        'footer';
    //}
    //@include for-size(tablet-landscape) {
    //    grid-template-columns: repeat(3, 1fr);
    //    grid-template-areas:
    //        'header header header'
    //        'main main main'
    //        'footer footer footer';
    //}
    //
    //@include for-size(desktop) {
    //    grid-template-columns: repeat(3, 1fr);
    //    grid-template-areas:
    //        'header header header'
    //        'main main main'
    //        'main main main'
    //        'main main main'
    //        'footer footer footer';
    //}
    //
    //@include for-size(desktop-big) {
    //    grid-template-columns: repeat(5, 1fr);
    //    grid-template-areas:
    //        'header header header'
    //        'main main main'
    //        'main main main'
    //        'main main main'
    //        'footer footer footer';
    //}

    h1 {
        justify-self: center;

        // MEDIA QUERIES
        @include for-size(phone-only) {
            grid-column: span 1;
        }
        @include for-size(tablet-portrait) {
            grid-column: span 2;
        }
        @include for-size(tablet-landscape) {
            grid-column: span 3;
        }
    }

    p {
    }
}

// GRID SPAN CLASSES
.span {
    // 1fr SPAN CLASS
    &-1 {
        grid-column: span 1;
    }

    // 2fr SPAN CLASS
    &-2 {
        // MEDIA QUERIES - To fix issue with bigger grid items at small size screens.
        @include for-size(phone-only) {
            grid-column: span 1;
        }
        @include for-size(tablet-portrait) {
            grid-column: span 1;
        }
        @include for-size(tablet-landscape) {
            grid-column: span 2;
        }
    }

    // 3fr SPAN CLASS
    &-3 {
        // MEDIA QUERIES - To fix issue with bigger grid items at small size screens.
        @include for-size(phone-only) {
            grid-column: span 1;
        }
        @include for-size(tablet-portrait) {
            grid-column: span 2;
        }
        @include for-size(tablet-landscape) {
            grid-column: span 3;
        }
    }
}

// GRID BOX CLASS - For grid items in template 'technologies.twig'
.tech-box {
    flex-basis: 22%;
    overflow: hidden;
    border-radius: map-get($border-radius, 'm');
    background-color: #00d948;

    a {
        display: block;
        padding: 1rem;
        background-color: $color-primary-300;
        text-decoration: none;

        &:hover {
            background-color: $color-primary-200;
        }
    }
}
