@import '../utilities/variables';
@import '../utilities/mixins';
@import '../utilities/functions';


.header {
    align-content: stretch;
    justify-content: space-between;
    position: relative;
    top: 0;
    z-index: 1000;
    flex-flow: row wrap;
    display: flex;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: divide(map-get($vertical-rhythm, small));
    background-color: $color-primary-100;

    //@include for-size(phone-only) {
    //    padding: $pad-xs;
    //}
    //@include for-size(tablet-portrait) {
    //    padding: $pad-s;
    //}

    .title_tagline {
        margin: auto 0;

        @include for-size(phone-only) {
            flex-basis: 12rem;
        }
        @include for-size(tablet-portrait) {
            flex-basis: fit-content;
        }
    }

    .title {
        flex-basis: fit-content;
        margin: 0;
        padding: divide(map-get($vertical-rhythm, small)) divide(map-get($vertical-rhythm, small)) map-get($vertical-rhythm, small) 0;

        &__hairline {
            font-width: 100;
        }
    }

    //.tagline {}

    .logo {
        flex-basis: fit-content;
        display: block;
        overflow: hidden;
        margin: auto 0;
    }

    .nav-toggle {
        flex-basis: fit-content;

        @include for-size(phone-only) {
            > i {
                font-size: 1.75rem;
            }
        }
        @include for-size(tablet-portrait) {
            > i {
                font-size: 1.85rem;
            }
        }
    }

    .link {
        width: 100%;
        height: auto;
    }
    
    .img {
        display: inline-block;
        margin: auto 0;
        border-radius: 2500rem;

        width: 5rem;
        height: 5rem;
    }
}
