{% include 'incl/header.twig' %}

    <body class="container index">
        <div class="container__main" role="main">
            {{ content }}
        </div>
    </body>

{% include 'incl/footer.twig' %}
