{% include 'incl/header.twig' %}

    <body class="container">
        <div class="container__sidebar left" role="sidebar-left">
            {{ sidebar_left }}
        </div>

        <div class="container__main" role="main">
            {{ content }}
        </div>

        <div class="container__sidebar right" role="sidebar-right">
            {{ sidebar_right }}
        </div>

    </body>

{% include 'incl/footer.twig' %}
