{% include 'incl/header.twig' %}

        <body>
                <div class="container__main" role="main">
                        <div class="landingpage">
                                {{ content }}
                        </div>
                </div>
        </body>

{% include 'incl/footer.twig' %}
