{% include 'incl/header.twig' %}

        <body class="container tech">
                {% include 'incl/technologies_sidebar-left.twig' %}

                <div class="container__main" role="main">
                        <div class="landingpage">
                                {{ content }}
                        </div>
                </div>
        </body>

{% include 'incl/footer.twig' %}
