@import '../utilities/variables';
@import '../utilities/mixins';
@import '../utilities/functions';


blockquote {
    margin-left: 1em;
    border-left: 0.5em solid #f5f5f5;
    padding-left: 1em;
    font-style: italic;
}
