@import '../utilities/variables';
@import '../utilities/mixins';
@import '../utilities/functions';

/* Code */
code {
    margin: 0 0.1em;
    border: 1px solid #cccccc;
    border-radius: 0.3em;
    padding: 0.1em 0.2em;
    background: #f5f5f5;
    font-size: 0.85rem;
    line-height: map-get($line-height, small);
    font-family: $font-family-code;
}


pre {
    border: 1px solid #cccccc;
    border-radius: 0.3em;
    padding: 0 1em;
    background: #f5f5f5;

    code {
        display: block;
        overflow-x: auto;
        margin: 0;
        border: 0 none;
        padding: 1.1111em 0;
        background: transparent;
        line-height: map-get($line-height, small);
    }
}
