@import '../utilities/variables';
@import '../utilities/mixins';
@import '../utilities/functions';

.slide {
    overflow-y: hidden !important;
    transition: all 2s ease-in-out !important;
}

.js {
    .nav-toggle {
        @include font-size(p);
        float: right;
        display: inline-block;
        margin: 0.6667em 0;
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        text-align: center;
    }
}

.hidden {
    display: none !important;
}

.sr-only {
    position: absolute;
    overflow: hidden;
    clip: rect(0,0,0,0);
    margin: -1px;
    border: 0;
    width: 1px;
    height: 1px;
    padding: 0;
}

//.toggler {
//    &:hover,
//    &:active {
//        color: $color-primary-200;
//    }
//
//    &:target {
//
//    }
//}

.nav {
    @include for-size(phone-only) {
        ul {
            position: fixed;
            top: 0;
            //right: -200px;
            right: 0;
            z-index: 1000;
            display: block;
            //opacity: 0; //TODO: Fixa så transition fungerar på opacity för en snyggare 'reveal'.
            transition: all 3s ease;
            width: 200px;
            height: 100%;
            padding: 10rem 1rem 1rem;
            background-color: $color-bg-dark;
            list-style: none;

            li {
                display: block;
                margin-bottom: divide(map-get($vertical-rhythm, small));

                a:hover,
                a:focus {
                    background-color: $color-primary-200;
                    text-decoration: underline;
                }
            }
        }

        &-toggle {
            align-self: center;
            flex-basis: fit-content;
            display: none;
            width: 3rem;
            height: 3rem;


            @include for-size(phone-only) {

                > i {
                    font-size: 1.75rem; // Icon size
                }
            }
            @include for-size(tablet-portrait) {
                > i {
                    font-size: 1.85rem;
                }
            }
        }

        .backdrop {
            position: absolute;
            z-index: 998;
            display: block;
            margin: 0;
            width: 100%;
            height: 100%;
            padding: 0;
            background-color: rgba(0,0,0,0.5);
        }

        &-menu {
            position: fixed;
            top: 0;
            right: -200px; // Ändras med :target
            z-index: 999;
            display: none; // Ändras med :target
            overflow-x: visible;
            overflow-y: auto;
            width: 200px;

            &:target {
                right: 0;
                display: block;
                outline: none;
            }

            // TODO: Fixa så att click utanför menyn på mobile stänger menyn & tar bort backdrop...
            &:target + .backdrop {
                position: fixed;
                top: 0;
                left: 0;
                z-index: 998;
                display: block;
                width: 100%;
                height: 100%;
                background-color: rgb(0, 0, 0, 0.7);
                cursor: default;
            }
        }
    }

    &__link,
    &__link--active {
        align-content: center;
        justify-content: space-around;
        flex-direction: row;
        gap: 1rem;
        display: flex;
        opacity: 0.8;
        transition-property: background, opacity, transform;
        transition-delay: 0.05s;
        transition-duration: 0.1s;
        transition-timing-function: linear;
        border-radius: map-get($border-radius, 'm');
        padding: 1rem;
        background-color: $color-gray-200;
        font-family: $font-family-title;
        font-weight: map-get($font-weight, bold);
        text-decoration: none;

        &:hover,
        &:focus {
            opacity: 1;
            //transition-duration: 0.33s;
            background-color: $color-primary-200;
        }

        &:active {
            //transform: translateY(3%) scale(98%);
            //transform: translateY(3%);
            //transform: scale(98%);
            //transition-duration: 0.1s;
            background-color: $color-primary-100;
        }

        i {
            margin: auto;
            font-size: 1.25rem;
        }
    }

    &__link--active {
        opacity: 1;
        background-color: $color-primary-200;
        color: $color-text-inverted;
    }

    a {
        color: #333;
    }
}
